* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #1C1C1C;
  margin: 0;
  overflow-y: hidden;
}

.objtop{
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#333; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.parallax {
  -webkit-perspective: 100px;
          perspective: 100px;
  height: calc(100vh-60px);
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*margin-left: -2500px;*/
  display:block;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: -3000px;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.content {
  background: #1C1C1C;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}

.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.parallax__layer__0 {
  -webkit-transform: translateZ(-450px) scale(5.5);
          transform: translateZ(-450px) scale(5.5);
}

.parallax__layer__1 {
  -webkit-transform: translateZ(-400px) scale(5);
          transform: translateZ(-400px) scale(5);
}

.parallax__layer__2 {
  -webkit-transform: translateZ(-350px) scale(4.5);
          transform: translateZ(-350px) scale(4.5);
}

.parallax__layer__3 {
  -webkit-transform: translateZ(-300px) scale(4);
          transform: translateZ(-300px) scale(4);
}

.parallax__layer__4 {
  -webkit-transform: translateZ(-250px) scale(3.5);
          transform: translateZ(-250px) scale(3.5);
}

.parallax__layer__5 {
  -webkit-transform: translateZ(-200px) scale(3);
          transform: translateZ(-200px) scale(3);
}

.parallax__layer__6 {
  -webkit-transform: translateZ(-150px) scale(2.5);
          transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__7 {
  -webkit-transform: translateZ(-100px) scale(2);
          transform: translateZ(-100px) scale(2);
}

.parallax__layer__8 {
  -webkit-transform: translateZ(-50px) scale(1.5);
          transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__9 {
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1);
}


